@import url("https://fonts.google.com/specimen/Dhurjati");
@import url("hhttps://fonts.google.com/specimen/Lato");

h2, h1, h3, h4, h5,h6{
    font-family: "Lato";
    background-color: darkkhaki;
    color: black;
    padding-left: 100px;
    text-indent: 5 px; /*определяет размер отступа (пустого места) перед строкой в текстовом блоке.*/
    font-size: 1rem;
    word-spacing: normal;
}
h1{
    text-decoration: underline;
    text-transform: uppercase;
}

nav{
    display: flex;
    text-decoration: underline;
    font-style: italic;
    padding: 10px;
    align-items: center; /*выравнивает flex-элементы текущей flex-линии таким же образом, как и justify-content , но в перпендикулярном направлении*/
}
p {
    font-size: x-large; /*stil*/
    background-color: antiquewhite;
    color: burlywood;
}
body{
    background-color: bisque;
}
img {
    width: 500px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 15px 10px #000; /*позволяет добавить тень вокруг элемента на веб-странице*/
}
[href^="https"]{
    background-color: bisque;
}

[class|="list"]{
    line-height: initial;
    font-family: Castellar;
    background-color: burlywood;
    font-weight: bold;
}
blockquote{
    font-family: "Dhurjati";
    font-weight: bolder;
    text-align: center;
}
footer{
    padding: 20px;
}
sub, sup{
    font-size: medium;
}
