body {
    margin: 10px; /*определяет внешний отступ на всех четырёх сторонах элемента*/
    padding: 10px; /*устанавливает внутренние отступы/поля со всех сторон элемента*/
}

header {
    position: fixed;
    width: 100%;
    background: white;
}

nav {
    display: flex;
    padding: 10px;
}

ul {
    display: flex;
    list-style-type: none; /*задаёт тип маркеров для использования в списке*/
    margin: 0;
    padding: 0;
}

li {
    margin-left: 10px;
}

main {
    padding-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /*позволяет элементам переноситься на новую строку при нехватке места по горизонтали.*/
}

.card {
    background: bisque;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    margin: 10px;
    width: 35%;
}


.paint{
    width:  100px;
    height: 100px;
}

.container tbody tr{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    justify-content: center;
    grid-gap: 10px;
    width: 100%;

}


.containertable{
  padding: 20px;
  text-align: center;
}

.container tbody, thead {
    display: contents;
}


/*
.paint {
    display: block;
}
*/
@media screen and (max-width: 768px) {
    .img {
        display: flex;
        width:  500px;
        height: 500px;
    }
    .target {
        display: none;
    }
}

@media and (min-width: 10px), (orientation: landscape){
    .img {
        display: flex;
        width:  5px;
        height: 5px;
    }
    .target {
        display: flex;
    }
}


th, td {
    padding: 10px;
    border: 1px solid black;
    text-align: left;
}



.container tbody tr:nth-child(even) {
    background-color: darkturquoise;
}


.listnav {
    position: sticky;
    top: 0;
}

.logo {
    width: 40px;
    height: 40px;
}
